<div class="modal-body p-5">
  <form [formGroup]="change_password" (ngSubmit)="changePassword()">
    <div class="form-row">
      <div class="form-group col-12">
        <label class="text-muted" for="inputEmail4">New Password *</label>
        <input type="password" class="form-control" formControlName="newPassword" name="newPassword" id="newPassword" placeholder="Enter new password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">

        <label class="text-muted" for="inputEmail4">Confirm New Password *</label>
        <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword"
          placeholder="Enter confirm password">
        <app-error-field [displayError]="!change_password.valid" errorMsg="Password Does Not Match">
        </app-error-field>
      </div>
    </div>
    <button type="submit" style="float: right; width: 130px;" [disabled]="!change_password.valid" class="btn btn-w-m btn-danger">Submit</button>
  </form>
</div>