<app-nav [isActiveLink]="isActiveLink" [userProfile]="complex_object.studentProfile"></app-nav>
<div class="jumbotron min-h-100 mb-0">
  <div class="container-fulid h-100">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-atom"></ngx-spinner>

    <div class="row">
      <div class="col-6">
        <h4>Manager Hierarchy</h4>

        <div class="ngx-dnd-container h-100" ngxDroppable="restricted-target2" [model]="targetItems">
          <h6 class="text-center card p-2 mt-1" *ngIf="targetItems.length != 0 ? '':'d-none'">No Data Found</h6>

          <div class="ngx-dnd-item card p-3 cursor_pointer" [moves]="item.children.length != 0 ? false:true" ngxDraggable="['restricted-target2']"
            [model]="item" *ngFor="let item of targetItems; index as i ">
            <div class="row m-0">
              <button *ngIf="!showHide && currentIndex == i" type="button" class="btn btn-sm mr-3" (click)="isCollapsed(i,'show')">
                <i class="fas fa-plus"></i>
              </button>
              <button *ngIf="showHide && currentIndex == i" type="button" class="btn btn-sm mr-3" (click)="isCollapsed(i,'close')">
                <i class="fas fa-minus"></i>
              </button>
              <button *ngIf="currentIndex != i" type="button" class="btn btn-sm mr-3" (click)="isCollapsed(i,'show')">
                <i class="fas fa-plus"></i>
              </button>
              <i class="fas fa-user-tie my-auto mr-2 text-muted"></i>
              {{item.name}}
              <div class="manager_background px-2 ml-2">Manager
              </div>
            </div>
            <div data-id="collapseExample_{{item.id}}" class="collapse m-2 customtoggle" [ngClass]="(currentIndex == i && showHide ) ? 'd-block' : 'd-none'">
              <h6 class="text-center card p-2" *ngIf="item.children.length != 0 ? '':'d-none'">No Associates Added</h6>
              <div class="ngx-dnd-container min-h-25 ml-4 style-3 " (over)="checkUserExists($event, i)" ngxDroppable="restricted-target1"
                [model]="item.children">
                <div class="ngx-dnd-item card  p-2 mb-2 cursor_pointer mx-2 custom-box" [moves]="false" ngxDraggable="['restricted-target1']"
                  [model]="childitem" *ngFor="let childitem of item.children; index as j">
                  <div class="row m-0">
                    <div class="col-10">
                      <div class="row m-0">
                        <i class="fas fa-user my-auto mr-2 text-muted"></i>
                        {{childitem.name}}
                        <div class="roles_background px-2 ml-2">Reportee
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <button type="button" class="close float-right" aria-label="Close" (click)="removeUser(i,j)">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 ">
        <button type="button" class="btn btn-danger user-button mb-2 float-right " (click)="onSubmit()">Save</button>
        <!-- <h2>Manager List</h2> -->
        <div class="col-12 card p-3">
          <div class="row m-0">
            <button type="button" class="btn btn-sm mr-3" (click)="isCollapsedM = !isCollapsedM" [attr.aria-expanded]="!isCollapsedM"
              aria-controls="collapseExampleM">
              <i *ngIf="isCollapsedM" class="fas fa-plus"></i>
              <i *ngIf="!isCollapsedM" class="fas fa-minus"></i>
            </button> Manager List
          </div>
        </div>
        <div id="collapseExampleM" [ngbCollapse]="isCollapsedM">
          <div class="ngx-dnd-container px-2 bg-white min-h-50 custom-border" ngxDroppable="restricted-target2" [model]="managers">
            <h6 class="text-center card p-2 mt-1" *ngIf="managers.length != 0 ? '':'d-none'">No Manager To Added</h6>
            <div class="ngx-dnd-item card p-3 cursor_pointer mx-2 mt-1 mb-1 custom-box" ngxDraggable="['restricted-target2']" [model]="item"
              *ngFor="let item of managers">
              <div class="row">
                <i class="fas fa-user-tie my-auto mx-2 text-muted"></i> {{item.name}}
              </div>


            </div>
          </div>
        </div>



        <!--  <h2>Associates List</h2> -->

        <div class="col-12 card p-3 mt-2">
          <div class="row m-0">
            <button type="button" class="btn btn-sm mr-3" (click)="isCollapsedR = !isCollapsedR" [attr.aria-expanded]="!isCollapsedR"
              aria-controls="collapseExampleR">
              <i *ngIf="isCollapsedR" class="fas fa-plus"></i>
              <i *ngIf="!isCollapsedR" class="fas fa-minus"></i>
            </button> Associates List
          </div>
        </div>
        <div id="collapseExampleR" [ngbCollapse]="isCollapsedR">
          <div class="ngx-dnd-container min-h-50 bg-white  px-2 custom-border" [copy]="true" ngxDroppable="restricted-target1" [model]="associates">
            <h6 class="text-center card p-2 mt-1" *ngIf="associates.length != 0 ? '':'d-none'">No Associates To Added</h6>
            <div class="ngx-dnd-item card p-3 cursor_pointer mx-2 mt-1 mb-1 custom-box" ngxDraggable="['restricted-target1']" [model]="item1"
              *ngFor="let item1 of associates">
              <div class="row">
                <i class="fas fa-user my-auto mx-2 text-muted"></i> {{item1.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>