<app-nav [isActiveLink]="isActiveLink" [userProfile]="complex_object.studentProfile"></app-nav>
<div class="jumbotron min-h-100 mb-0">
  <div class="container-fulid h-100">
    <div class="row m-0 mb-3 ">
      <div class="col-6">
        <h4>Licenses</h4>
      </div>
      <div class="col-6 float-right">
        <button type="button" (click)="open(content)" class="btn btn-w-m btn-danger mr-4 float-right user-button p-0 m-0 ">
          <i class="fas fa-shopping-cart"></i> Buy License</button>
      </div>

    </div>
    <div class="row m-0">
      <data-table [indexColumn]="false" [noDataMessage]="'Nothing to show.'" [header]="false" [pageLimits]="limits" [title]="'Users'"
        [substituteRows]="false" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
        <data-table-column [property]="'id'" [header]="'id'" [sortable]="true" [width]="100">
        </data-table-column>
        <data-table-column [property]="'name'" [header]="'Name'" [sortable]="true" [width]="150">
        </data-table-column>
        <data-table-column [property]="'course'" [header]="'Course'" [width]="150">
        </data-table-column>
        <data-table-column property="total_count" header="Total License" [width]="150">
        </data-table-column>
        <data-table-column [property]="'available_count'" [header]="'Available License'" [width]="150">
        </data-table-column>
        <data-table-column [property]="'purchase_date'" [header]="'Purchase Date'" [width]="150">
        </data-table-column>
        <data-table-column [property]="'expiry_date'" [header]="'Expiry Date'" [width]="150">
        </data-table-column>
        <data-table-column [property]="'amount'" [header]="'Amount'" [width]="150">
        </data-table-column>
        <data-table-column class="custom-table" [width]="100">
          <ng-template #dataTableCell let-item="item">

            <div class="btn-group" dropdown>
              <i class="fas fa-ellipsis-v" dropdownToggle></i>

              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left-custom" role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                  <a class="dropdown-item" (click)="editUser(content,item.id)">Edit</a>
                </li>
              </ul>
            </div>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header justify-content-center">
        <div class="row w-100">
          <div class="col-2"></div>
          <div class="col-8 text-center">
            <h3 class="modal-title blue-theme-color " id="userLabel">Buy License</h3>
          </div>
          <div class="col-2">
            <button type="button" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body p-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">



          <div class="form-row">
            <div class="form-group col-12">
              <label class="text-muted" for="inputEmail4">License Type<div class="text-danger d-inline">*</div></label>

              <ng-select [items]="licenseTypeData" bindLabel="name" bindValue="id" labelForId="licenseType" placeholder="Select License Type"
                formControlName="licenseType">
              </ng-select>

              <app-error-field [displayError]="formErrors.license" errorMsg="{{formErrors.license}}">
              </app-error-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <label class="text-muted" for="inputEmail4">Courses<div class="text-danger d-inline">*</div></label>

              <ng-select [multiple]="true" [items]="courseData" bindLabel="name" bindValue="id" labelForId="courses" placeholder="Select Courses"
                formControlName="courses">
              </ng-select>
              <app-error-field [displayError]="formErrors.courses" errorMsg="{{formErrors.courses}}">
              </app-error-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <label class="text-muted" for="inputEmail4">User<div class="text-danger d-inline">*</div></label>
              <input type="number" class="form-control" formControlName="users" name="users" id="users" placeholder="user count">
              <app-error-field [displayError]="formErrors.users" errorMsg="{{formErrors.users}}">
              </app-error-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <label for="dateOfBirth">Expire Date</label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" formControlName="expireDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                  #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group p-1 m-3">
            <button type="submit" class="btn btn-danger user-button" [disabled]="!form.valid">Buy and Update</button>
          </div>
        </form>



      </div>
    </ng-template>

  </div>
</div>